@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HaenamFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/HaenamFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  background: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 88%;
  border: 3px solid #fff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #000000;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #fff;
  background: #fff;
  text-align: center;
  color: #000000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  margin: auto;
  margin-top: 100px;
}

.searchResult{
    margin: auto;
    border-radius: 10px;
    color: #000000;
    background-color: #fff;
    width:30%;
    text-align: center;
    padding: 3px;
    font-family: 'GmarketSansMedium';

}

.btn{
  font-size: 14px;
  background: white;
  font-family: 'GmarketSansMedium';
  border-radius: 4px;
  width: 50px;
  height: 40px;
}
