<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>추천 페이지</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'recommend_page.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="wrap">
            <div>
                <form method="POST">
                    <br>
                    {% csrf_token %}
                    <input type="text" name="movie_name" id="movie_name" placeholder="영화 제목을 입력해주세요." style="width:225px; height:20px;" >
                    <input class="btn btn=success" type="submit" value="선택">
                </form>
<!--                <h1>{{message}}</h1>-->
            </div>
<!--            <div class="search">-->
<!--               <input id="userInput" type="text" class="searchTerm" placeholder="영화 제목을 입력해주세요.">-->
<!--               <button id="submit" type="submit" class="searchButton" onclick="getValueInput()">-->
<!--                 <i class="fa fa-search"></i>-->
<!--              </button>-->
<!--            </div>-->
            <hr>
        </div>
<!--        <div id="searchResult" class="searchResult">-->
<!--             검색 결과-->
<!--        </div>-->
<!--        <div id="textArea"></div>-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<!--        <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>-->
<!--        <script src="https://d3js.org/d3.v7.min.js"></script>-->
<!--        <script type="text/javascript" src="/static/recommend_page.js"></script>-->
    </body>
</html>